/*conteudo*/
.bloco_principal{
    width: 70%;
    height: 455px;
    border: solid #f9e3a2 3px;
    display: block;
    margin: 20px auto;
    background-color: white;
}
.bloco_principal h3{
    color: #132743;
    text-align: center;
}
.bloco_principal p{
    color: #132743;
    text-align: justify;
    margin-left: 20px;
    padding: 10px;
}
/*Efeito ao abrir o menu*/
.bloco_principal_margin{
    width: 70%;
    height: 455px;
    border: solid white 1px;
    display: block;
    margin-top: -280px;
    margin-bottom: 18px;
    margin-left: 50px;
    background-color: white;
}
.bloco_principal_margin h3{
    color: #132743;
    text-align: center;
}
.bloco_principal_margin p{
    color: #132743;
    text-align: justify;
    margin-left: 20px;
    padding: 10px;
}

.link1{
    display: none;
}
.link2{
    display: none;
}
.link3{
    display: none;
}
.link4{
    display: none;
}
.link5{
    display: none;
}
.link6{
    display: none;
}

/*.link1Clicked{
    width: 70%;
    height: 455px;
    border: solid white 1px;
    display: block;
    margin-top: -280px;
    margin-bottom: 18px;
    margin-left: 50px;
    background-color: white;
}*/